-#team form
= form_for @team, :html => { :multipart => true } do |team_form|
  %p
    = team_form.label :name
    %br
    = team_form.text_field :name
  %p
    = team_form.label :short_name
    %br
    = team_form.text_field :short_name
  %p
    = team_form.label :mascot
    %br
    = team_form.text_field :mascot
  %p
    = team_form.label :logo_url
    %br
    = team_form.text_field :logo_url
  %p
  = team_form.label :espn_url
  %br
  = team_form.text_field :espn_url  
  %p
    =team_form.fields_for :records, @team.prev_record do |record_form|
      =record_form.label :wins, "Previous Wins"
      %br
      =record_form.text_field :wins
  %p
    = team_form.submit
