%table
  %tr
    %th Name
    %th Short name
    %th Mascot
  - for team in @teams
    %tr
      %td= team.name
      %td= team.short_name
      %td= team.mascot
      %td= link_to 'Show', team
      %td= link_to 'Edit', edit_team_path(team)
      %td= link_to 'Destroy', team, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Team", new_team_path
