%p
  %strong Name:
  = @team.name
%p
  %strong Short Name:
  = @team.short_name
%p
  %strong Mascot:
  = @team.mascot
%p
  %strong 2011 Wins:
  = @team.prev_record.wins.to_s

%p
  = link_to "Edit", edit_team_path(@team)
  |
  = link_to "Destroy", @team, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", teams_path
