- if current_user && current_user.admin?
  .buttons
    =link_to "Home", root_path
    =link_to "My Picks", :picks
    =link_to "Standings", :standings
    =link_to "Users", :users
    =link_to "Team List", :teams
%br
%br
  %h1 Listing users
  #notice= notice
  %table
    %tr
      %th
      %th Username
      %th Email
      %th Name
      %th Teams Picked
      %th 2010 Total
      %th
      %th
    -@users.each do |user|
      %tr
        %td=image_tag user.payments.first.paid? ? 'moneybag_24.png' : 'red_x.png'
        %td=user.username
        %td= user.email
        %td= user.first + " " + user.last
        %td= user.picks.select{|p| p.period_id == Period.find_by_year('2011').id}.count.to_s
        %td= user.prev_win_total
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete
  %br

  = link_to 'New User', new_user_path
-else
  Not supposed to be here.