.buttons
  =link_to "Home", root_path, :class => 'standard'
  - if current_user
    =link_to "My Picks", :picks, :class => 'negative'
    -if current_user.admin?
      =link_to "Team List", :teams, :class => 'positive'
      =link_to "Users", :users
  =link_to "Forum", :posts
  =link_to "HOF", :hof, :class => 'hof'
%br      
%h1 
  Overall Standings
%h3{:style=>"color:green"}= "Team picks will be revealed on #{OPENING_DAY.strftime('%A %B %d, %Y')}" if Date.today < OPENING_DAY
%h3{:style=>"color:green"}= "Last updated on #{Record.find(1208).updated_at.strftime('%A %B %d, %Y')}" if Date.today > OPENING_DAY
%table#standings{:style=>"width:100%"}
  %thead
    %tr
      %th 2012 Wins
      %th Team Name
      %th Team 1
      %th Team 2
      %th Team 3
      %th Team 4
      %th Team 5
      %th 2011 Wins
  %tbody  
    -if Date.today >= OPENING_DAY
      -@users.each do |user|
        %tr{:class => "#{current_user == user ? 'current_login' : ''}"}
          -if user.picks.count == 5
            %td= user.current_win_total
            %td= user.team_name
            -user.teams.each do |team|
              %td= link_to "#{team.name}(#{team.current_record.wins.to_s})", team.espn_url, :target=>"_blank"
            -if user.prev_win_total > 40
              %td{:style => "color:red;font-weight:bold;"}= user.prev_win_total
            -else
              %td= user.prev_win_total  
          -else
            %td 0
            %td= user.team_name
            %td{:style => "color:red;"} Invalid Entry!
            -4.times do
              %td    
            %td 0                                  
    -else
      -@users.each do |user|
        %tr{:class => "#{current_user == user ? 'current_login' : ''}"}
          %td 0
          %td= user.team_name
          -5.times do
            %td
          %td  
  %tfoot
    %tr
      %th 2012 Wins
      %th Team Name
      %th Team 1
      %th Team 2
      %th Team 3
      %th Team 4
      %th Team 5
      %th 2011 Wins      
      
:javascript 
  $(document).ready(function() {
  	oTable = $('#standings').dataTable({
      "iDisplayLength": 50,
      "aaSorting": [ [0,'desc'] ],
  		"bJQueryUI": true,
  		"sPaginationType": "two_button",
  		"aoColumns":                                                       
        [                                                                  
        { "bSortable": true},
        { "bSortable": true},
        { "bSortable": false},
        { "bSortable": false},
        { "bSortable": false},
        { "bSortable": false},
        { "bSortable": false},
        { "bSortable": true}
        ]
  	});
  } );
