%button=link_to "Home", root_path
- if current_user
  %button=link_to "My Picks List", :picks
  -if current_user.admin?
    %button=link_to "Team List", :teams
    %button=link_to "Users", :users
%h1 
  Overall Standings
%h5= "Team picks will be revealed on #{Date.new(2011,9,1).strftime('%A %B %d, %Y')}" if Date.today < Date.new(2011,9,1)
%table#standings{:style=>"width:100%"}
  %thead
    %tr
      %th Wins
      %th Username
      %th Team 1(Wins)
      %th Team 2(Wins)
      %th Team 3(Wins)
      %th Team 4(Wins)
      %th Team 5(Wins)
  %tbody  
    -if Date.today >= Date.new(2011,6,1)      
      -@users.sort_by(&:username).each do |user|
        %tr
          -if user.picks.count == 5
            %td= user.current_win_total
            %td= user.username
            -user.teams.each do |team|
              %td= "#{team.short_name}(#{team.current_record.wins.to_s})"
          -else
            %td 0
            %td= user.username
            %td{:style => "color:red;"} Invalid Entry!
            %td
            %td
            %td
            %td                                    
    -else
      -@users.each do |user|
        %tr
          %td 0
          %td= user.username
          %td
  %tfoot
    %tr
      %th Wins
      %th Username
      %th Team 1(Wins)
      %th Team 2(Wins)
      %th Team 3(Wins)
      %th Team 4(Wins)
      %th Team 5(Wins)
      
:javascript 
  $(document).ready(function() {
  	oTable = $('#standings').dataTable({
  		"bJQueryUI": true,
  		"sPaginationType": "two_button",
  		"aoColumns":                                                       
        [                                                                  
        { "bSortable": true},
        { "bSortable": true},
        { "bSortable": false},
        { "bSortable": false},
        { "bSortable": false},
        { "bSortable": false},
        { "bSortable": false}
        ]
  	});
  } );
