-#picks form

#teams
  #teams_header
    %span 
    %span Team Name
    %span Mascot
    %span 2010 Wins
    #results
      -Team.all.dissect(2).each_with_index do |page_of_teams, index|
        %div{:id => "p#{(index+1).to_s}", :style => "display:none;"}
          -page_of_teams.each do |team|
            .result
              %span
                %input{:type =>'checkbox', :id => "team_#{team.id}"}
              %span.name_field= team.name
              %span.mascot_field= team.mascot
              %span.wins_field= team.prev_record.wins
#page_maker