#foo
  .wins_total
    Current Picks Total 2011 Wins:
    %span#prev_total_wins= current_user.prev_win_total.to_s

  .array
    .pick_array
      -if @picks.empty?
        -5.times do
          .pick
            =image_tag 'question-mark.jpg', :size => '100x100'
            .win_info
              ="--"
              %br
              ="0 Wins"
      -else
        -@picks.each do |pick|
          -if pick.team.logo_url
            .pick.team_pick
              =link_to (image_tag pick.team.logo_url, :size => '100x100', :alt => "#{pick.team.name}"), pick.team.espn_url, :target=>"_blank"
              .win_info
                ="#{pick.team.name[0..14]}"
                %br
                ="#{pick.team.records.find_by_period_id(Period.find_by_year('2011')).wins} Wins"
        -(5 - @picks.count).times do
          .pick
            =image_tag 'question-mark.jpg', :size => '100x100'
            .win_info
              ="--"
              %br
              ="0 Wins"

  .wins_total
    Current Picks Total 2011 Wins:
    %span#current_total_wins= current_user.current_win_total.to_s