=render 'post_buttons'
%br
 
%h1 
  Forum
- if current_user
  =link_to "New Post", new_post_path
-else
  (Log in to post)
%br
%br
-if @posts.empty?
  Nothing yet! Get us started by logging in and posting!
  -15.times do
    %br
-@posts.each do |post|
  .post{:class => "#{cycle('odd','even')}"}
    %span{:style=>'font-weight:bold;font-size:13pt;'}= post.title
    %span{:style=>'font-size:8pt;'}= "Posted by #{post.user.team_name}" if post.user
    %span{:style=>'font-size:8pt;'}= "on #{post.updated_at.strftime('%m/%d/%Y %I:%M:%p')}"
    %div{:style=>"margin-left:20px"}
      = post.content
      -if current_user && (current_user.id == post.user_id || current_user.admin?)
        %div
          =link_to "Edit Post", edit_post_path(post)
          %a{:href => "/posts/#{post.id}", "data-method" => "delete", "data-confirm" => "Are you sure?"} Delete
 