!!!
%html
  %head
    %title TheMovingGoalPost.heroku.com
    = stylesheet_link_tag "application"
    = csrf_meta_tag
  %body
    -if current_user && !current_user.background.nil?
      =image_tag current_user.background, :id => 'bg'
    -else
      =image_tag "bluesky.jpg", :id => 'bg'
    .wrapper
      #login_wrapper
        = render :partial => "layouts/header"
      #content
        #nav_wrapper
        #body_wrapper
        #content_header
        #content_body
          = render :partial => "layouts/notices"
          = render :partial => "layouts/page_header" unless @skip_header
          .page_content  
            = yield
            %br
        #content_footer
      #footer
        &copy; 
        = Date.today.year 
        PmanCo
